.attendee-details {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	color: #fff;
}

.details-container {
	border: 0.5px solid #2ba0b5;
	background: #08252b;
	padding: 30px;
	border-radius: 1rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	width: 400px;
}

.attendee-details .header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}

.attendee-details .header .flex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.attendee-details .header .flex-header span {
	padding: 0.8rem;
	font-size: 0.7rem;
}

.attendee-details .progress-bar {
	width: 66.66%;
	height: 4px;
	background-color: #2ba0b5;
	border-radius: 5px;
	margin-top: 7px;
	margin-bottom: 10px;
}

.upload-area {
	margin-bottom: 20px;
	text-align: center;
	border: 0.5px solid #2ba0b5;
	padding: 2rem;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	height: 7rem;
}

.upload-area p {
	text-align: left;
	font-size: 0.8rem;
	margin-top: -1.5rem;
	margin-bottom: 1.2rem;
}

.upload-area .inner-box {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.upload-area .inner-box .inner-smaller-box {
	border: 2px solid #2ba0b5;
	background-color: #0e464f;
	height: 120%;
	width: 60%;
	border-radius: 1.2rem;
}

.upload-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.upload-area .upload-icon {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.upload-area .upload-text {
	color: #fff;
	font-size: 0.7rem;
}

.avatar-input {
	display: none;
	object-fit: contain;
}

.avatar-preview {
	position: absolute;
	top: 20%;
	left: 25%;
	width: 12.5rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 10px;
}

.avatar-preview img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	color: #fff;
	text-align: left;
	font-size: 0.8rem;
}

.form-group input,
.project-textarea {
	width: 95%;
	padding: 10px;
	border: 0.5px solid #2ba0b5;
	background: transparent;
	color: #eee;
	border-radius: 5px;
}

.project-textarea {
	resize: none;
	min-height: 60px;
}

.details-container .buttons {
	display: flex;
	justify-content: space-between;
}

.details-container .back-button,
.details-container .submit-button {
	width: 48%;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.details-container .back-button {
	background: transparent;
	color: #2ba0b5;
	border: 0.5px solid #2ba0b5;
}

.details-container .back-button:hover {
	background: #2ba0b5;
	color: #fff;
}

.details-container .submit-button {
	background: #2ba0b5;
	color: #fff;
}

.details-container .error {
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

@media screen and (max-width: 600px) {
	.upload-area .inner-box .inner-smaller-box {
		width: 100%;
	}

	.avatar-preview {
		width: 100%;
		left: 0;
		border-radius: inherit;
	}

	.details-container .buttons {
		flex-direction: column;
	}
	.details-container .back-button,
	.details-container .submit-button {
		width: 99%;
	}

	.details-container .back-button {
		order: 2;
	}
}
